@using ToDoClient.Solution.ViewModels;
@model LoginViewModel

<h4>Log into your account</h4>
<h6 id="failedLogin" > @ViewBag.failedLogin</h6>
<hr />

@using (Html.BeginForm())
{
  <table class="table">
    <tr>  
      <th>@Html.LabelFor(model => model.Username)</th>
      <td align="right">@Html.TextBoxFor(model => model.Username)</td>
    </tr>

    <tr>
      <th>@Html.LabelFor(model => model.Password)</th>
      <td align="right">@Html.PasswordFor(model => model.Password)</td>
    </tr>
  </table>
  <button id="save-button" type="submit" class="w3-button w3-border w3-hover-indigo">Log In</button>
}
<br>
<a href='@Url.Action("Register")'><button id="save-button" class="w3-button w3-border w3-hover-indigo">Register a New Account</button></a>