@using ToDoClient.Solution.Models
@model ToDoClient.Solution.Models.ToDo
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

<style>body { background-image: url(https://cdn.discordapp.com/attachments/1011292802468032512/1012117736664604723/dex.png); background-position: 0px 20px; background-attachment: bottom; background-size: cover;} .container {background: transparent;}</style>

<div class="gamerCard"> 
  <h1 class="gamerHeader">@Model.Name</h1>

    <img src='@Model.Image' style="width: 90%; font-family: 'Silkscreen', cursive; font-weight: bold; margin: auto; display: block; tex-align: center;  margin-bottom: 20px; " />
    <div class="gamerList">
      <p class="gamerNumbers">PP: </p>
      <p class="property">@Model.PP</p>
      <p class="gamerNumbers">Category: </p>
      <p class="property">@Model.Category</p>
      <p class="gamerNumbers">Description:</p>
      <p class="property">@Model.Description</p>
    </div>

    <!-- <table class="table">
      <tr><td>PP: @Model.PP</td></tr>
      <tr><td>Category: @Model.Category</td></tr>
      <tr><td>Description: @Model.Description</td></tr>
    </table> -->

@using (Html.BeginForm("AddToDo", "Accounts", new { id = @Model.ToDoId}))
{
  @Html.HiddenFor(model => model.ToDoId)
  <button id="save-button" class="w3-button w3-border w3-hover-indigo" type="submit">Save</button>
}

</div>

